<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h1>Insurance Policies</h1>
  <table style="width:100%">
    <tr>
      <th>Policy Number</th>
      <th>Amount</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let policy of policies" >
      <td>{{  policy.num }}</td>
      <td>{{  policy.amount }}</td>
      <td>{{  policy.description }}</td>
  
      <td>tbd</td>
    </tr>
  </table>

